.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #222831;
  color: black;
  margin-bottom: 100vh;
}

.info {
  display: flex;
}

.desarrolloWeb {
  width: 70%;
  border-radius: 8px;
  margin-left: 15%;
}

@media only screen and (max-width: 844px) {
  .info {
    flex-direction: column; /* Cambia la dirección a columna en dispositivos móviles */
    align-items: center;
  }

  .certificado {
    margin: 0 0 15px 0; /* Ajusta el margen para centrar verticalmente y agrega espacio entre las imágenes */
  }

  .desarrolloWeb {
    width: 70%; /* Centra la imagen horizontalmente */
    border-radius: 8px;
  }

  .titleCertificado {
    font-size: 30px;
  }
}
