.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #af9c9c;
  background-color: #222831;
  color: black;
  margin-bottom: 100vh;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desarrolloWeb {
  width: 70%;
  border-radius: 8px;
  margin-left: 10%;
}
@media only screen and (max-width: 768px) {
  .info {
    flex-direction: column; /* Cambia la dirección a columna en dispositivos móviles */
    align-items: center;
    text-align: center; /* Añade alineación de texto al centro */
  }

  .desarrolloWeb {
    width: 55%;
    border-radius: 8px;
    padding-bottom: 15px;
    /* Puedes mantener otros estilos específicos para dispositivos móviles aquí */
  }

  .titleCertificado {
    font-size: 30px;
  }
}
