.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #af9c9c;
  background-color: #222831;
  color: black;
  margin-bottom: 100vh;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desarrolloWeb {
  width: 70%;
  border-radius: 8px;
  margin-left: 10%;
}

@media only screen and (max-width: 768px) {
  .desarrolloWeb {
    width: 70%;
    border-radius: 8px;
    margin-left: 10%; /* Mantén el mismo margen en lugar de 15% */
  }
  .titleCertificado {
    font-size: 30px;
  }
}
