.about-container {
  display: flex;
  background-color: #222831;
  color: #af9c9c;
  width: 100%;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0px 100px 0 0px;
}

.about-desc > h3 {
  margin-bottom: 20px;
  font-size: 25px;
}

.about-desc > p {
  line-height: 25px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}
.about-container2 {
  width: 80%;
  display: flex;
  margin-left: 15%;
}

.about-img {
  width: 35%;
}

.img-personal {
  width: 100%;
  border-radius: 350px;
}
.descargaAbout {
  font-weight: 800;
  padding: 0.75em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px 5px #af9c9c;
  justify-content: center;
  margin-top: 20px;
  min-width: fit-content;
}

@media only screen and (max-width: 844px) {
  .about-container {
    height: auto;
  }
  .about-container2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 20px;
  }
  .about-desc {
    width: 100%;
    text-align: center; /* Alinea el texto al centro */
    padding: 0 20px; /* Ajusta el espaciado izquierdo y derecho */
    margin-left: -25px;
  }
  .about-img {
    width: 80%;
    margin: 20px 0; /* Ajusta el margen superior e inferior */
  }
  .about-img > img {
    width: 100%;
  }
  .sobreMiAbout {
    display: none !important;
  }
}
